<section class="content">
    <mat-card>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba In"/>
        <mat-card-header>
            <mat-card-title>Lev Cantelberg</mat-card-title>
            <mat-card-subtitle>Class: I - A</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <div>Student Personal Information</div>
        <mat-divider></mat-divider>
        <div>
            <span>Birthday:</span>
            <span>02.10.2017</span>
        </div>
        <div>
            <span>Grade:</span>
            <span>5.5</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span>Address:</span>
            <span>Lviv, Dudajeva</span>
        </div>
    </mat-card>
</section>